<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{main-layout :: head}"></head>
<body class="main-body">

<nav th:replace="~{main-layout :: navigator}"></nav>
<header th:replace="~{main-layout :: header(${breadCrumbs})}"></header>

<main>
    <div class="grid-container author-index">

        <form class="filter">
            <input type="text" name="category" placeholder="Category..">
            <button type="submit" class="blue-button">Search</button>
        </form>

        <a th:href="@{/book/category-upsert-form}" class="blue-button create-button">Add New Category</a>
        <div class="field-validation-error" th:text="${error}" th:if="${error}"></div>
        <div class="field-validation-success" th:text="${success}" th:if="${success}"></div>


            <table>
                <tbody>
                <tr>
                    <th>Action</th>
                    <th>Category</th>
                    <th>Floor</th>
                    <th>Isle</th>
                    <th>Bay</th>
                    <th>Total Books</th>
                </tr>
                <tr th:each="category : ${categories}">
                    <td>
                        <a th:href="@{/book/books(category = ${category.id})}" class="blue-button update-button">Books</a>
                        <a th:href="@{/book/category-upsert-form(category = ${category.id})}" class="blue-button update-button">Edit</a>
                        <a th:href="@{/book/category-delete(category = ${category.id})}" class="blue-button delete-button">Delete</a>
                    </td>
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.floor}"></td>
                    <td th:text="${category.isle}"></td>
                    <td th:text="${category.bay}"></td>
                    <td th:text="${category.books}"></td>

                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">
                        <div class="pagination">
                            <div th:text="|Page ${page} of ${totalPage}|"></div>
                            <div>
                                <a      th:each="pageLoop : ${#numbers.sequence(1, (totalPage < 1) ? 1 : totalPage)}"
                                        th:href="@{/author/index(page=${pageLoop}, category=${category})}"
                                        th:text="${pageLoop}">
                                </a>
                            </div>
                        </div>
                    </td>
                </tfoot>
            </table>

    </div>
</main>

<footer th:replace="~{main-layout :: footer}"></footer>

<th:block th:replace="~{main-layout :: javascript}"></th:block>

</body>
</html>