<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{main-layout :: head}"></head>
<body class="main-body">

<nav th:replace="~{main-layout :: navigator}"></nav>
<header th:replace="~{main-layout :: header(${breadCrumbs})}"></header>

<main>
    <div class="grid-container author-index">

        <form class="filter">
            <input type="text" name="id" placeholder="Number..">
            <input type="text" name="fullName" placeholder="Name..">
            <button type="submit" class="blue-button">Search</button>
        </form>

        <a th:href="@{/customer/upsert-form}" class="blue-button create-button">Add New Customer</a>
        <div class="field-validation-error" th:text="${error}" th:if="${error}"></div>
        <div class="field-validation-success" th:text="${success}" th:if="${success}"></div>

        <table>
            <tbody>
            <tr>
                <th>Action</th>
                <th>Membership Number</th>
                <th>Full Name</th>
                <th>Expire Date</th>
            </tr>
            <tr th:each="customer : ${customers}">
                <td>
                    <a th:href="@{/customer/upsert-form(id = ${customer.id})}" class="blue-button update-button">Edit</a>
                    <a th:href="@{/customer/delete(id = ${customer.id})}" class="blue-button delete-button">Delete</a>
                    <a th:href="@{/customer/extend(id = ${customer.id})}" class="blue-button">Extend</a>
                </td>
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.fullName}"></td>
                <td th:text="${customer.membershipExpireDate}"></td>

            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <div class="pagination">
                        <div th:text="|Page ${page} of ${totalPage}|"></div>
                        <div>
                            <a      th:each="pageLoop : ${#numbers.sequence(1, (totalPage < 1) ? 1 : totalPage)}"
                                    th:href="@{/customer/index(page=${pageLoop}, id=${id}, fullName=${fullName})}"
                                    th:text="${pageLoop}">
                            </a>
                        </div>
                    </div>
                </td>
            </tfoot>
        </table>
    </div>
</main>

<footer th:replace="~{main-layout :: footer}"></footer>

<th:block th:replace="~{main-layout :: javascript}"></th:block>

</body>
</html>