<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{main-layout :: head}"></head>
<body class="main-body">

<nav th:replace="~{main-layout :: navigator}"></nav>
<header th:replace="~{main-layout :: header(${breadCrumbs})}"></header>

<main>
    <div class="grid-container author-index">

        <form class="filter">
            <input type="text" name="titleBook" placeholder="Book Title...">
            <input type="text" name="fullName" placeholder="Customer Name...">
            <button type="submit" class="blue-button">Search</button>
        </form>

        <a th:href="@{/loan/upsert-form}" class="blue-button create-button">Add New Loan</a>
        <div class="field-validation-error" th:text="${error}" th:if="${error}"></div>
        <div class="field-validation-success" th:text="${success}" th:if="${success}"></div>

        <table>
            <tbody>
            <tr>
                <th>Action</th>
                <th>Book Title</th>
                <th>Customer Name</th>
                <th>Loan Date</th>
                <th>Due Date</th>
                <th>Return Date</th>
            </tr>
            <tr th:each="loan : ${loans}">
                <td>
                    <a th:href="@{/loan/detail(id = ${loan.id})}" class="blue-button delete-button">Detail</a>
                    <a th:href="@{/loan/upsert-form(id = ${loan.id})}" class="blue-button update-button">Edit</a>
                    <a th:href="@{/loan/return(id = ${loan.id})}" class="blue-button">Return</a>
                </td>
                <td th:text="${loan.title}"></td>
                <td th:text="${loan.customerFullName}"></td>
                <td th:text="${loan.loanDate}"></td>
                <td th:text="${loan.dueDate}"></td>
                <td th:text="${loan.returnDate}"></td>

            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <div class="pagination">
                        <div th:text="|Page ${page} of ${totalPage}|"></div>
                        <div>
                            <a      th:each="pageLoop : ${#numbers.sequence(1, (totalPage < 1) ? 1 : totalPage)}"
                                    th:href="@{/loan/index(page=${pageLoop}, titleBook=${titleBook}, fullName=${fullName})}"
                                    th:text="${pageLoop}">
                            </a>
                        </div>
                    </div>
                </td>
            </tfoot>
        </table>
    </div>
</main>

<footer th:replace="~{main-layout :: footer}"></footer>

<th:block th:replace="~{main-layout :: javascript}"></th:block>

</body>
</html>