<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Winterhold</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <!--css-->
    <link rel="stylesheet" th:href="@{/resources/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/resources/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/resources/css/site.css}">
    <!--    <script th:src="@{/resources/js/jquery-3.6.0.js}"></script>-->
</head>

<body>
<nav th:fragment="navigator">
    <div class="company-logo">
        <img alt="Basilisk" th:src="@{/resources/image/logo.png}">
        <h1>
            <span class="bold">winterhold library</span>
        </h1>
    </div>

    <a class="menu home" th:href="@{/home}">
        <i class="fas fa-igloo"></i>
        <span>Home</span>
    </a>
    <a class="menu author" th:href="@{/author}">
        <i class="fas fa-pencil-alt"></i>
        <span>Authors</span>
    </a>
    <a class="menu book" th:href="@{/book}">
        <i class="fas fa-book"></i>
        <span>Books</span>
    </a>
    <a class="menu customer" th:href="@{/customer}">
        <i class="fas fa-users"></i>
        <span>Customers</span>
    </a>
    <a class="menu loan" th:href="@{/loan}">
        <i class="fas fa-book-reader"></i>
        <span>Loans</span>
    </a>

</nav>
<header th:fragment="header(breadCrumbs)">
    <div class="bread-crumbs">
        <span th:text="${breadCrumbs}"></span>
    </div>

</header>

<footer th:fragment="footer">
    Copyrights &copy; 2022
    <span class="author">Raka A Pratama</span>
    All rights reserved.
</footer>

<th:block th:fragment="javascript">
    <script th:src="@{/resources/js/site.js}"></script>
</th:block>
</body>
</html>